.custom-select-container {
  position: relative;
  width: 200px;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-selected:after {
  content: '';
  position: absolute;
  top: 18px;
  right: 10px;
  border: 6px solid transparent;
  border-color: #a0a0a0 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #a0a0a0 transparent;
  top: 10px;
}

.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #ddd;
  border-top: none;
}

.select-items .select-item {
  padding: 10px;
  cursor: pointer;
}

.select-items .select-item:hover {
  background-color: #ddd;
}

.select-hide {
  display: none;
}
