.tab_hover {
  background-color: #fffb98;
  transform: background-color 0.5s ease-in-out;
}
.cards {
  box-shadow: #b1b1b14d 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
#register-img,
#login-img {
  opacity: 1;
  transition: opacity 0.5s linear; /* Smooth transition with linear timing function */
}

#register-img.hide,
#login-img.hide {
  opacity: 0;
}
