.products-animation-container {
    position: inherit;
    height: 503px;
}

.products .hero__wrapper {
    background: url(../../assets/images/products/hero-bg.jpeg) center no-repeat;
    background-size: cover;
    height: 50vmin;
    position: relative;
    display: flex;
    align-items: center;
    animation: revealContent 2s;
    border-radius: 20px;
    margin: auto;
}

.products .hero__wrapper::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    animation: revealContentHover 5s;
}

@keyframes revealContent {
    0% {
        max-width: 100vw;
        width: 100vw;
        height: calc(50vmin + 56px);
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    100% {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes revealContentHover {
    0% {
        border-radius: 0;
    }
}


.breadcrumbs {
    animation: breadcrumbsAnimation 2s;
}



@keyframes breadcrumbsAnimation {
    0% {
        height: 0;
    }

    100% {
        height: 56px;
    }
}

@keyframes revealContentHover {
    0% {
        border-radius: 0;
    }
}


@media only screen and (max-width: 768px) {
    .hero {
        width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    }
}