.hero {
  background: url(../../assets/images/home/hero-bg.jpg) center no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.hero::before {
  content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.7);
}

.hero__content {
  text-align: left;
	position: relative;
}

.hero__content h2 {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 18px;
  border-radius: 10px;
}

.hero__content button {
  padding: 10px 30px;
}

@keyframes text-in {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

@keyframes text-out {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}

.business__segments .activities {
  aspect-ratio: 16 / 9;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 11px;
  cursor: pointer;
  transition: all 0.5s ease; /* Плавное изменение размера фона */
}

.business__segments .activities:hover {
  background-size: 110%;
}

.business__segments .activities::before {
  content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}

.business__segments .suppliers {
  background: url(../../assets/images/home/suppliers.jpg) center no-repeat;
  background-size: 100%;
}
.business__segments .purchases {
  background: url(../../assets/images/home/purchases.jpg) center no-repeat;
  background-size: 100%;
}
.business__segments .products {
  background: url(../../assets/images/home/products.jpg) center no-repeat;
  background-size: 100%;
}
.business__segments .buyers {
  background: url(../../assets/images/home/buyers.jpg) center no-repeat;
  background-size: 100%;
}


@media screen and (min-width: 992px) {
  .hero {
      height: calc(100vh - 70px);
  }
  .hero__content {
    max-width: 750px;
  }
  .hero__content h2 {
    font-size: 50px;
  }
  .hero__content button {
    height: 100%;
    font-size: 16px;
  } 
}